<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Upcoming Bills</h5>
          {{#each bills}}
          <p>
            <strong>Name</strong>: {{this.name}}</p>
          <p>
          <p>
            <strong>Amount</strong>: {{this.amount}}</p>
          <p>
            <strong>Due Day:</strong> {{this.dueDay}}</p>
             <p>
            <strong>Pay bill:</strong> {{this.url}}</p>
           {{/each}}

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
