form.signup,
form.login {
  margin-top: 50px;
}

body {
  background-color: rgb(238, 253, 253);
}

.fa-money-bill-wave{
  font-weight: 900;
  font-size: 150px;
  color: rgb(106, 173, 39);
}

.fieldWrapper {
  padding: 20px;
}

.fieldWrapper input {
  line-height: 2em;
  padding: 30px;
  font-size: 1.25em;
}

.loginBtn {
  line-height: 1.5em;
  padding: 15px;
  font-size: 1.25em;
}

