form.signup,
form.login {
  margin-top: 50px;
}

body {
  background-image: url(../images/billminderbkgwhite.jpg);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.jumbotron {
  text-align: left;
}

#upcomingBills {
  font-size: 20px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.card-title {
  font-family: 'Lato', sans-serif;
  /* font-weight: 300; */
}
.modal h3 {
  font-family: 'Lato', sans-serif;
  /* font-weight: 300; */
}
.card-body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
a{
  color: black;
}
a:hover {
  color: #9ece69;
}
h1 {
  font-family: 'Lato', sans-serif;
  /* font-weight: 300; */
}
.fieldWrapper {
  padding: 20px;
}

.fieldWrapper input {
  line-height: 2em;
  padding: 30px;
  font-size: 1.25em;
}

.loginBtn {
  line-height: 1.5em;
  padding: 15px;
  font-size: 1.25em;
}

.actionBtn, .Y {
  font-weight: 400 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;

}

.fa-toggle-on {
  color: #9ece69;
}

